<div class="content">
    <h1 class="title" id="tipping-title">Calculator</h1>
    <label for="input1">Number 1:</label>
    <input type="text" (input)="firstInput($event)" name="input1">
    <br>
    <div class="calc-buttons">
        <button type="button" value="+" (click)="onClickOperator($event); setSelected(1)" [ngClass]="{'active-math': selectedIndex == 1}" id="+">+</button>
        <button type="button" value="-" (click)="onClickOperator($event); setSelected(2)" [ngClass]="{'active-math': selectedIndex == 2}" id="-">-</button>
        <button type="button" value="/" (click)="onClickOperator($event); setSelected(3)" [ngClass]="{'active-math': selectedIndex == 3}" id="/">&#247;</button>    
        <button type="button" value="X" (click)="onClickOperator($event); setSelected(4)" [ngClass]="{'active-math': selectedIndex == 4}" id="X">&#10761;</button>
    </div>
    <br>
    <label for="input1">Number 2:</label>
    <input type="text" (input)="secondInput($event)" name="input1">
    <br>
    <button type="button" (click)="onClickEquals($event)" class="calculate">Calculate</button>
    
    <p class="total-text">{{ totalOfMath }}</p>
</div>