
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    <main>
        
        <div class="content">
            <h1>The Calculation App!</h1>

            <ul class="nav">
                <li><a routerLink="/calculator">Calculator</a></li>
                <li><a routerLink="/tipping">Tipping Calculator</a></li>
            </ul>
            <router-outlet></router-outlet>
            
        </div>

    </main>
</body>
