
<div class="content">
  <h2 class="title">Tipping Calculator</h2>

  Price: <input type="text" (input)="setPrice($event)">
  <div class="buttons">
      <button value=".05" (click)="setTip($event); setSelected(1)" [ngClass]="{'active-math': selectedIndex == 1}">5%</button>
      <button value=".10" (click)="setTip($event); setSelected(2)" [ngClass]="{'active-math': selectedIndex == 2}">10%</button>
      <button value=".15" (click)="setTip($event); setSelected(3)" [ngClass]="{'active-math': selectedIndex == 3}">15%</button>
      <button value=".25" (click)="setTip($event); setSelected(4)" [ngClass]="{'active-math': selectedIndex == 4}">25%</button>
    </div>
  <button type="button" (click)="onClickCalc($event)">Calculate</button>
  <p class="total-text">${{ total }}</p>
</div>



